html {
  width: 101%;
  height: 101%;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  position: relative;
  width: 300px;
  height: 400px;
  border: 2px solid black;
  margin: 0;
  padding: 0;
  display: block;
}

h1 {
  margin: 0;
  padding: 0;
  text-align: center;
}

div.centerButton {
  position: relative;
  top: 340px;
  text-align: center;
}

button {
  text-align: center;
}

canvas {
  position: relative;
  top: 15px;
  left: 0px;
  width: 300px;
  height: 300px;
  margin: 0;
  padding: 0;
}

img {
  visibility: hidden;
}
